# Build outputs
dist/
build/
*.spec

# Python cache
__pycache__/
*.pyc
*.pyo

# Virtual environments
.venv/
venv/
env/

# IDE settings
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

#venv
venv/
ENV/
env/
.env/
.env.bak

#keywords
keywords.txt/
session.json/